

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-12 bg-white">

      <%= render 'layouts/nav' %>

      <div>
        <h1 class="list-name log-in text-center"><%= @list.name %></h1>
        <hr>
        <div class="clearfix">
          <a href="#" class="js-next text-center form-control btn-main sign-up next-button" data-id="<%=@list.id%>">Next List</a>
        </div>
        <p class="task-list-text"><span class="bold-text">Due Date: </span><span class="float-right due-date"><%= @list.due_date.strftime("%B %d, %Y")%></span></p>
        <p class="task-list-text"><span class="border-bottom bold-text">Tasks</span><span class="task-list-tesk float-right border-bottom bold-text">Completed?</span></p>

        <div class="test123">
        <% @list.tasks.each do |task| %>
          <ul>
            <li class="over-flow">

              <p class="task-name task-list-text display-inline"><%= task.name %></p>


              <div class="float-right">
                <p class="task-list-text display-inline"><%= check_box_tag 'completed?', 1, task.complete, disabled: true, id: "task_complete" %></p>
              </div>

              <div role="group" aria-label="...">
                <%= button_to "Edit", edit_list_task_path(@list,task), method: 'get', class: "button-small btn light-green"%>
                <%= button_to "Delete", list_task_path(@list,task), method: 'delete', class: "button-small btn"%>
              </div>

            </li>
          </ul>
        <% end %>
      </div>
        <a href="#" class="js-next text-center form-control btn-main margin-top-25" data-id="<%=@list.id%>">New Task</a>
        <!-- <%= link_to "New Task", new_list_task_path(@list), method: 'get', class: "text-center form-control btn-main margin-top-25"%> -->

      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">

$(function () {
  nextTaskList();
});

function nextTaskList () {
  $(".js-next").on("click", function (event) {

    var getId = parseInt($(".js-next").attr("data-id"))


    var listIdChecker = <%= @listid %>

    var currentId=listIdChecker.indexOf(getId)

    var nextId = listIdChecker[currentId+1]

    if (listIdChecker.length - 1 === currentId ) {
      nextId = listIdChecker[0]
    }

    var setId = $(".js-next").attr("data-id", nextId)


    $(".test123").html("");


    window.history.pushState('page2', 'Title', '/lists/' + nextId);

    $.get("/lists/" + nextId + ".json", function(data) {
      var list = data;
      console.log(data)
      var date = list["due_date"]
      var tasks = list["tasks"]
      $(".list-name").text(list["name"])
      $(".due-date").text(dateParser(date))
      $(".js-next").attr("data-id", list["id"]);
      getTaskInfo(tasks, list);
    })
    .fail(function(){

      alert("sorry")
    })
    event.preventDefault();
  });
}

function getTaskInfo (tasks, list) {
    token = '<%= form_authenticity_token %>';
  for (i = 0; i < tasks.length; i++){

    var complete = "";

    if (tasks[i].complete) {
      complete = "checked='checked'"
    } else {
      complete = ""
    }
    thislistId = list.id
    var deleteButton = "<form class='button_to' method='post' action='/lists/" + list.id + "/tasks/" + tasks[i].id + "'><input type='hidden' name='_method' value='delete'><input class='button-small btn' type='submit' value='Delete'><input type='hidden' name='authenticity_token' value=" + token + "></form>"

    var editButton = "<form class='button_to margin-right-5' method='get' action='/lists/" + list.id  + "/tasks/" + tasks[i].id + "/edit'><input class='button-small btn light-green' type='submit' value='Edit'></form>";

    var completeButton = "<div class='float-right'><p class='task-list-text display-inline'><input type='checkbox' name='completed?'id='task_complete'value='1' disabled='disabled'" +  complete + "></p></div>";

    $(".test123").append("<ul><li class='over-flow'><p class='task-name task-list-text display-inline'>" + tasks[i].name + "</p>" + completeButton + "<div role='group' aria-label='...'>" +  editButton  + deleteButton + "</div></li></ul>")

  }

}

</script>
